@{
    ViewBag.Title = "Not Found";
}

<h1>@ViewBag.ErrorMessage</h1>
<h2>@ViewBag.Path</h2>
<h2>@ViewBag.Qs</h2>

<a asp-controller="Employee" asp-action="Index">Click here to go back to employee list view</a>